.picaBox{
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 1px solid black;
    padding: 10px;
    width: 50%;
}



.button{
    background-color: lightblue;
    align-self: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 1px;
}